.cell {
    width: 25px;
    height: 25px;
    display: inline-table;
    font-size: xx-small;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 3px;
}

.row {

}

.field {
    border: 3px solid black;
}

.food {
    background-color: darkmagenta;
}